# Build output
dist
build

# Dependencies
node_modules

# Cache
.cache
.eslintcache

# Logs
*.log

# Environment variables
.env*

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
*.pem 