openapi: 3.1.0
x-stoplight:
  id: ra3dw7l8yudk6
info:
  title: MeetAtMensa
  version: 1.0.0
  description: |-
    This OpenAPI specification defines the endpoints, schemas, and security mechanisms
    for the Meet@Mensa User micro-service. 
  contact:
    name: Team DevOops
    url: 'https://github.com/AET-DevOps25/team-devoops/'
    email: devoops@tyrean.mozmail.com
  termsOfService: ''
  license:
    name: MIT
    url: 'https://mit-license.org/'
servers:
  - url: 'https://meetatmensa.com'
    description: ''
components:
  securitySchemes:
    auth0:
      type: openIdConnect
      openIdConnectUrl: 'https://meetatmensa.eu.auth0.com/'
  responses:
    UnauthorizedError:
      description: |
        Authentication failed due to missing or invalid OAuth2 token.
    NotFoundError:
      description: |
        The requested resource was not found.
    BadRequestError:
      description: |
        The request was malformed or contained invalid parameters.
  parameters:
    user-id:
      name: user-id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: UUID associated with a given user
    request-id:
      name: request-id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: UUID associated with a given match request
    match-id:
      name: match-id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: UUID associated with a given match
paths:
  '/api/v2/user/{user-id}':
    parameters:
      - $ref: '#/components/parameters/user-id'
    get:
      summary: 'Retrieve User with {user-id}'
      tags:
        - User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/objects/User.yaml
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: get-api-v2-user-userID
      x-stoplight:
        id: s30bozzx1imjb
      description: 'Fetch all information about user with ID {user-id} from user-service'
      security:
        - auth0: []
    put:
      summary: 'Update User with {user-id}'
      tags:
        - User
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: ./models/objects/User.yaml
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: put-api-v2-user-userID
      x-stoplight:
        id: qpy386xev4isw
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'stoplight://resources/overrides/d4ZcttiCduU'
      description: 'Update all information about user with ID {user-id} from user-service'
    delete:
      summary: 'Delete User with {user-id}'
      tags:
        - User
      responses:
        '200':
          description: User deleted
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: delete-api-v2-user-userID
      x-stoplight:
        id: d5oluqthtpk0j
      description: 'Remove all information about user with ID {user-id} from user-service'
  /api/v2/user/register:
    parameters: []
    post:
      summary: Register new User
      tags:
        - User
      responses:
        '201':
          description: Successfully created user
          content:
            application/json:
              schema:
                $ref: ./models/values/userID.yaml
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '409':
          description: Conflict
      operationId: post-api-v2-user-register
      x-stoplight:
        id: rylxkkav8zfbw
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'stoplight://resources/overrides/ZBKuhqr5Udo'
        description: ''
      description: 'Register a new user and respond with it''s {user-id}'
  /api/v2/matching/request/submit:
    parameters: []
    post:
      summary: Submit matching Request
      tags:
        - Matching
      responses:
        '200':
          description: Request submitted sucessfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      operationId: post-api-v2-matching-request
      x-stoplight:
        id: snpxjvnherhqo
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'stoplight://resources/overrides/LiusN8sr3Lg'
      description: Submit a new matching request to the Matching-Service
  '/api/v2/matching/matches/{user-id}':
    parameters:
      - $ref: '#/components/parameters/user-id'
    get:
      summary: 'Retrieve all matches for a {user-id}'
      x-stoplight:
        id: yi9tcjix8188b
      tags:
        - Matching
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    x-stoplight:
                      id: 2e0ptji16wel5
                    type: array
                    items:
                      $ref: ./models/objects/Match.yaml
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: get-api-v2-matching-matches-userID
      description: 'Retrieve all matches for a user with {user-id} from the matching-service'
  '/api/v2/matching/requests/{user-id}':
    parameters:
      - $ref: '#/components/parameters/user-id'
    get:
      summary: 'Retrieve all MatchRequests for a {user-id}'
      tags:
        - Matching
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      $ref: ./models/objects/MatchRequest.yaml
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: get-api-v2-matching-requests-userID
      x-stoplight:
        id: bpwtd0yzaqoij
      description: 'Retrieve all MatchRequests for a user with {user-id} from the matching-service'
  '/api/v2/matching/request/{request-id}':
    parameters:
      - $ref: '#/components/parameters/request-id'
    delete:
      summary: 'Delete MatchRequest with {request-id}'
      tags:
        - Matching
      responses:
        '200':
          description: Request Deleted
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: delete-api-v2-matching-matches-request-id
      x-stoplight:
        id: jx437fzerwzkg
      description: 'Delete MatchRequest with ID {request-id} from the system'
    put:
      summary: 'Update MatchRequest with {request-id}'
      tags:
        - Matching
      responses:
        '200':
          description: MatchRequest cannot be updated since it has already been fulfilled!
          content:
            application/json:
              schema:
                $ref: ./models/objects/MatchRequest.yaml
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '406':
          description: Not Acceptable
      operationId: put-api-v2-matching-request-request-id
      x-stoplight:
        id: f29245yb6atms
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'stoplight://resources/overrides/yYf63A5flbM'
      description: 'Update all information in the MatchRequest with ID {request-id}'
  '/api/v2/matching/rsvp/{match-id}/accept':
    get:
      summary: Accept invitation to a given match
      tags:
        - Matching
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: get-api-v2-matching-rsvp-match-id-accept
      x-stoplight:
        id: agyrofyxjblw6
      description: Accept invitation to a given match
    parameters:
      - name: match-id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID associated with a given match
  '/api/v2/matching/rsvp/{match-id}/reject':
    get:
      summary: Reject invitation to a given match
      tags:
        - Matching
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: get-api-v2-matching-rsvp-match-id-reject
      description: Reject invitation to a given match
      x-stoplight:
        id: deu0sdrli2bmb
    parameters:
      - $ref: '#/components/parameters/match-id'
  /api/v2/genai/conversation-starter:
    get:
      summary: Request conversation starter
      x-stoplight:
        id: qgqsp9m9g4pe3
      tags:
        - GenAI
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversationStarters:
                    $ref: ./models/objects/ConversationStarter.yaml
                    x-stoplight:
                      id: 42dhftssp2c85
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      operationId: get-api-v2-genai-conversation-starter
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                users:
                  type: array
                  x-stoplight:
                    id: fvj0ezq5l48c2
                  items:
                    $ref: ./models/objects/User.yaml
        description: Request Conversation starter for these users
      description: Request a series of conversation starter prompts from the GenAI microservice. Provide infomation about users on request.
    parameters: []
tags:
  - name: GenAI
    description: Paths belonging to the GenAI microservice
  - name: Matching
    description: Paths belonging to the Matching microservice
  - name: User
    description: Paths belonging to the User microservice
